.colorMenu {
  background-color: #a0adad;
  border-top: 2px solid black;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  text-align: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.colorMenu > * {
  margin: 4px 7px;
}

.setNickButton {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.colorArea {
  border: 1px solid black;
  border-radius: 3px;
  background: #eee;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 3px 6px;
}

.progressContainer {
  position: relative;
  flex: 1 1 300px;
  padding: 0;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
}

.progressBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  /* width from JS */
  background-color: #c0ffee;
}

.progressInfo {
  z-index: 3;
  position: absolute;
  margin: 0 0 0 3px;
  margin-left: 2px;
}

.statsArea span {
  margin-right: 15px;
}

.creatorArea {
  display: flex;
  flex-flow: row nowrap;
}
.creatorList {
  margin: 0;
  padding: 0;
}
.creatorList li {
  display: inline-block;
  margin-left: 8px;
}
.creatorList li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 3px;
}
