.menu {
  background-color: turquoise;
  z-index: 2;
  position: fixed;
  height: 500px;
  width: 500px;
  bottom: 200px;
  left: 200px;
  text-align: center;
  color: red;
  font-size: 100%;
  border-radius: 10px;
}
input[type="radio"]{
  margin-top: 10px
}

input[type="text"]{
  width: 50px;
}

.sample{
  background-color: green;
  z-index: 3;
  height: 10px;
  width: 10px;
  margin-left: 360px;
}
