.colorMakerMenu {
  background-color: #889292;
  height: 150px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

input[type="text"]{
  width: 250px;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.sample{
  background-color: green;
  z-index: 3;
  height: 18px;
  width: 18px;
  position: absolute;
  right: 100px;
  text-indent: -100px
}

.offset {
  margin: 20px;
}

.colorMakerSelect {
  display: inline-block;
}

.colorMakerSelect label {
  width: 20px;
  height: 20px;
  margin-left: -6px;
  display: inline-block;
  text-indent: -100px;
}

.colorMakerSelect label:hover {
  cursor: pointer;
}

.colorMakerSelect input[type=radio] {
  visibility: hidden;
  width: 0;
}

.colorMakerSelect input[type=radio]:checked + label {
  outline: 2px solid black;
}
