.menu {
  background-color: turquoise;
  z-index: 2;
  position: fixed;
  height: 100px;
  width: 300px;
  bottom: 0;
  left: 0;
  text-align: left;
  color: red;
  font-size: 12px;
  border-radius: 10px;
}

.colorSelect {
  display: inline-block;
}

.colorSelect label {
  width: 20px;
  height: 20px;
  margin-left: -6px;
  display: inline-block;
  background-color: purple;
}

.colorSelect label:hover {
  cursor: pointer;
}

.colorSelect input[type=radio] {
  visibility: hidden;
  width: 0;
}

.colorSelect input[type=radio]:checked + label {
  outline: 2px solid black;
}

button[type="button"]{
  margin-left: 150px;
}

progress{
  text-align: center;
  line-height: 30px;
  background-color: #4CAF50;
}
