.colorMakerMenu {
  background-color: turquoise;
  z-index: 2;
  position: fixed;
  height: 250px;
  width: 500px;
  top: 20%;
  left: 30%;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  font-weight: bold;
}

input[type="radio"]{
  margin-top: 10px
}

input[type="text"]{
  width: 50px;
}

.sample{
  background-color: green;
  z-index: 3;
  height: 18px;
  width: 18px;
  position: absolute;
  right: 100px;
  text-indent: -100px
}

.offset {
  margin-left: 20px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.colorMakerSelect {
  display: inline-block;

}
.colorMakerSelect label {
  width: 20px;
  height: 20px;
  margin-left: -6px;
  display: inline-block;
  text-indent: -100px;
}

.colorMakerSelect label:hover {
  cursor: pointer;
}

.colorMakerSelect input[type=radio] {
  visibility: hidden;
  width: 0;
}

.colorMakerSelect input[type=radio]:checked + label {
  outline: 2px solid black;
}

.buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
