.LoadingScreen {
  background-color: lightgreen;
  opacity: 50%;
  z-index: 2;
  position: fixed;
  height: 120px;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.offset{
  margin-left: 20px;
  margin-right: 12px;
  margin-bottom: 20px;
}
