/* TODO: Center both message and warning perfectly,
scale div according to text length*/

.textcontent {
  margin: 20px;
  color: white;
  font-size: 110%;
}

.message {
  font-family: sans-serif;
  border: 2px solid darkgray;
  border-radius: 4px;
  background-color: gray;
  width: 30%;
  height: 30%;
  position: fixed;
  text-align: center;
  color: black;
  display: inline-block;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.warning {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 4px;
  background-color: gray;
  width: 30%;
  height: 15%;
  position: fixed;
  text-align: center;
  color: red;
  font-size: 200%;
  display: inline-block;
  bottom: 50%;
  right: 50%;
}

.ok-button {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  color: green;
  font-size: 120%;
  padding: 5px;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 45%;
}
