.colorSelect {
  display: flex;
  align-items: center;
}

.colorSelect label {
  width: 1.2em;
  height: 1.2em;
  border: 1px solid black;
  border-radius: 2px;
  margin: 3px;
}

.colorSelect input[type=checkbox]:checked + label {
  border-width: 3px;
}

.colorSelect label:hover {
  cursor: pointer;
}

.colorSelect input[type=checkbox] {
  display: none;
}
