.colorSelect {
  display: inline-block;
}

.colorSelect label {
  width: 20px;
  height: 20px;
  margin-left: -4px;
  display: inline-block;
}

.colorSelect label:hover {
  cursor: pointer;
}

.colorSelect input[type=checkbox] {
  visibility: hidden;
  width: 0;
}

.colorSelect input[type=checkbox]:checked + label {
  outline: 2px solid black;
}
